* {
  color: #ffffff;
  box-sizing: border-box;
  font-size: 3vh;
}

@font-face {
  font-family: "Znikomit";
  src: url("../assets/fonts/Znikomit.otf") format("opentype");
}

h1 {
  font-family: "Znikomit";
  font-size: 2em;
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
  border-bottom: 1px solid;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #595858;
  border-radius: 10px;
}