.intro {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 10em;
  animation: 4s ease-in-out fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}