/* background of the modal */
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition-duration: 400ms;
  z-index: 2;
}

/* actual content */
.modal-content {
  position: relative;
  width: 70%;
  margin: 40px auto;
  padding: 40px;
  border-radius: 20px;
  background-color: #1b1b1b;
  z-index: 2.5;
}

.open {
  overflow-y: scroll;
}
.close {
  top: 100%;
  overflow-y: hidden;
  transition-duration: 400ms;
}


.visible {
  top: 0;
}
.invisible {
  top: 100%;
}
.visible,
.invisible {
  transition-duration: 4s;
}

/* prevent body scroll when modal is open */
.modal-open {
  height: 100vh;
  overflow-y: hidden;
  margin-right: 10px; /* width of the scrollbar */
}