/* background of the modal */
.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #0000007a;
  overflow-y: scroll;
  z-index: 2;
}

/* actual content */
.modal-content {
  width: 70%;
  margin: 10px auto;
  padding: 20px;
  background-color: #212121;
}

/* prevent body scroll when modal is open */
.modal-open {
  height: 100vh;
  overflow-y: hidden;
  margin-right: 10px; /* width of the scrollbar */
}