.item, .item-link, .item-img, .item-overlay {
  /* border-radius: 5px; */
}

.item {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.item-link {
  display: inline-block;
}

.item-img {
  object-fit: contain;
  width: 100%;
  position: relative;
  vertical-align: top;
}

.item-overlay {
  z-index: 1;
  font-size: 1.8em;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-overlay, .item-img {
  transition-duration: 300ms;
}

.item-overlay:hover {
  opacity: 1;
}
.item-overlay:hover + .item-img {
  filter: blur(5px);
}